.container
	.column.span-6
		%h1
			.words
				- if @year >= 1000 && @year < 2000
					- @year.to_s.rjust(4,'0')[0..1].to_i.en.numwords.split(' ').each do |word|
						.word
							- unless word == 'and'
								= word.capitalize
					- @year.to_s.rjust(4,'0')[2..3].to_i.en.numwords.split(' ').each do |word|
						.word
							- unless word == 'and'
								= word.capitalize
				- else
					- @year.en.numwords.split(' ').each do |word|
						.word
							- unless word == 'and'
								= word.capitalize
			.number
				= @year
		.hidden
			= @year
	.column.span-18.last
		%ol
			- today = Date.today
			- d = Date.parse("#{@year}-01-01")
			- for month_number in 1..12
				- last_day = Date.parse("#{@year+1}-01-01")
				- last_day = Date.parse("#{@year}-#{month_number + 1}-01") if month_number < 12
				%li{class: " month #{'past' if last_day < today } #{'current' if last_day == today } #{'future' if last_day >  today }" }
					%dl
						%dt{class: " month #{'past' if last_day <  today } #{'current' if last_day == today } #{'future' if last_day >  today }" }
							= Date.parse("#{@year}-#{month_number}-01").strftime('%B')
						- # While this is the same month
						- for day in 1..(Date.new(@year,12,31)<<(12-month_number)).day
							- d = Date.parse("#{@year}-#{month_number}-#{day}")
							%dd{class: " day #{'past' if d < today } #{'current' if d == today } #{'future' if d > today } commercial-day-#{d.cwday} #{ 'fifteen' if day == 15 } #{'row-1' if day <= 15} #{'row-2' if day > 15}", title: d.strftime }
								= d.strftime('%e')
								%span.overlay &middot;
		.navigation
			.column.span-3
				.prev
					%a{ href: "/#{@year-1}"}
						= "&larr; #{@year-1}"
			.coumn.span-12
				.content
					A collaboration between
					%a{ href: "http://pecorarodesign.com/" } Stephen Pecoraro
					and
					%a{ href: "http://euphemize.net/" } Joel Courtney
					\.
			.column.span-3.last
				.next
					%a{ href: "/#{@year+1}"}
						= "#{@year+1} &rarr;"
